html{
  background-color: black;
}
h1{
  color: #fff6f6;
  font-family: 'Libre Baskerville', serif;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}
p{
  color: #fff6f6;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  font-size: 1.1rem;
}
#danny{
  border: 5px solid white;
  margin-left: 30%;
}